@import './colors.scss';

:export {
  background: $background;
  surface: $surface;
  primary: $primary;
  secondary: $secondary;
  accent: $accent;

  strength: $strength;

  natureUp: $nature-up;
  natureDown: $nature-down;

  subskillWhite: $subskill-white;
  subskillSilver: $subskill-silver;
  subskillGold: $subskill-gold;

  curry: $curry;
  salad: $salad;
  dessert: $dessert;
  curryDark: $curry-dark;
  saladDark: $salad-dark;
  dessertDark: $dessert-dark;

  ingredient: $ingredient;
  berry: $berry;
  skill: $skill;

  onBackground: $on-background;
  onSurface: $on-surface;
  onPrimary: $on-primary;
  onSecondary: $on-secondary;
}
