@import '@/assets/variables.scss';
@import '@/assets/colors.scss';
@import '@/assets/typography.scss';
@import '@/assets/common.scss';
@import '@/assets/animations.scss';

#app * {
  transition: all 0.2s ease;
}

.legend {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  border-radius: 30px;
}

.frosted-glass {
  background: rgba($surface, 0.4) !important;
  backdrop-filter: blur(10px);
}

.frosted-glass-dark {
  background: rgba($surface, 0.85) !important;
  backdrop-filter: blur(10px);
}
